.gitBasic {
    padding-top: 100px;
}

@media screen and (max-width: 768px) {
    .gitBasic {
        padding-top: 140px;
    }
}

@media screen and (max-width: 411px) {
    .gitBasic {
        padding-top: 65px;
    }
}