.profile {
    padding: 2.5rem;
}

.avatar_overlay {
    height: 100%;
    display: inline-block;
    border-radius: 100%;
}

.avatar_content {
    display: none;
}

.avatar_overlay:hover .avatar_content {
    display: block;
}

.hie_logo {
    width: 100px;
    height: 100px;
    display: inline-block;
}

@media screen and (max-width: 411px) {
    .profile {
        padding: 1.25rem;
    }
    .hie_logo {
        width: 75px;
        height: 75px;
    }
}