.stock {
    padding-top: 100px;
    width: 80%;
    margin: auto;
    font-size: 17px;
}

@media screen and (max-width: 768px) {
    .stock {
        padding-top: 140px;
        font-size: 15px;
    }
}

@media screen and (max-width: 411px) {
    .stock {
        padding-top: 65px;
        font-size: 11px;
    }
}