@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scroll-behavior: smooth;
}

body a {
    color: white;
}

body p {
    margin: 0;
}

body a:hover {
    text-decoration: underline;
}

li .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background-color: transparent;
    border: none;
    color: white;
}

li .ant-select-single.ant-select-open .ant-select-selection-item {
    color: white;
}

li .dropdown-item.active,
.dropdown-item:active {
    color: black;
    background-color: rgb(99, 99, 99);
}

section .ant-tabs>.ant-tabs-nav .ant-tabs-nav-wrap,
.ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-wrap {
    justify-content: center;
}

section .ant-carousel .slick-dots li button {
    background-color: #1976d2;
    opacity: 0.3;
}

section .ant-carousel .slick-dots {
    z-index: 1;
}

section .ant-carousel .slick-dots li.slick-active button {
    background-color: #1976d2;
    opacity: 1;
}

section .ant-carousel .slick-dots-bottom {
    bottom: -30px;
}

.contact__form .ant-form-item-label>label {
    color: wheat;
}

#components-layout-demo-custom-trigger .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
    background: #fff;
}

.todolist__form .ant-form-item-label>label {
    color: white;
}

.border-2 .ant-space {
    display: block;
}

@media screen and (max-width: 576px) {
    .ant-card-body {
        padding: 10px !important;
    }
    .ant-card-head-title {
        padding: 0 !important;
    }
}